.kartinka {
    height: 100%;
    width: 100%;
}

.txt {
    font-size: 150px;
    text-align: center;
    color: #bfa533;
    background: #531c41;
}

.a {
    text-align: center;
    color: #0b2e13;
    background: #bf9db1;
}

.b {
    font-size: 50px;
    text-align: center;
    background: #0c5460;
    color: #746900;

}
.otstup{
    margin: 30px 0 30px 0;
}

.kartinka2 {

    height: 800px;
    width: 100%;
}

.c {
    text-align: center;
    background: #5c1474;
    color: #ba8b00;
}

.kartinka3 {
    height: 100%;
    width: 100%;
}

.d {
    text-align: center;
    background: #166049;
    color: #3a0072;
}

.kartinka4 {
    height: 100%;
    width: 100%;
}

.e {
    text-align: center;
    background: #31741c;
    color: #ba1b8e;

}

.kartinka5 {
    height: 100%;
    width: 100%;
}

.f {
    text-align: center;
    background: #1c1374;
    color: #bf9db1;

}

.kartinka6 {
    height: 100%;
    width: 100%;
}

.g {
    text-align: center;
    background: #741312;
    color: #9cbf8b;

}

.kartinka7 {
    height: 100%;
    width: 100%;
}
.e {
    text-align: center;
    background: #74105b;
    color: #300a74;

}

.kartinka8 {
    height: 100%;
    width: 100%;
}

.kartinka9 {
    height: 100%;
    width: 100%;
}
